<div class="homeContainer">

  <div class="box black boxHome">
    <div class="matchBox">
      <p class="titleMatch">ESL</p>
      <p class="styleMatch">5 V 5</p>
      <div class="boxTeams">
        <div class="teamRed team">
          <p class="nameTeam">teamfaker</p>
        </div>
        <div class="teamBlue team">
          <p class="nameTeam">biloute</p>
        </div>
      </div>
    </div>
  </div>

  <div class="box black boxHome stat">
    <p class="statTeamName">teamfaker</p>
    <div class="boxWinRate">
      <p class="winRate">winrate:</p>
      <p class="rate">85%</p>
    </div>
  </div>

  <div class="box black">
    <div class="team">
      <div class="teamName">
        <p>teamFaker</p>
      </div>
      <div class="posteTeam">
        <div class="">

        </div>
      </div>
    </div>
  </div>

</div>
