<!--<h1 class="title">Recent games</h1>-->


<!--<div class="wrap">
  <div class="resume">
    <p>100P 62V 38D</p>
    <p>Rank: DIAMANT 1</p>
  </div>
  <div class="champ">
    <ul>
      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>
      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>
      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>
    </ul>
  </div>
  <div>

  </div>
  <div>
  </div>
</div>-->


<div class="container">
  <div class="box black boxTitle">
    <p class="title">total statistiques</p>
  </div>

  <div class="stats">
    <div class="box black">
      <p class="info">victoires/defaites</p>
      <p class="info">125 V / 80 D</p>
      <p class="info rank">Rank : Diamant 1</p>
    </div>
    <div class="box black">
      <div class="characterWinRate">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
        <p>100% (5v 0D)</p>
        <p>4.32 KDA</p>
      </div>
      <div class="characterWinRate">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
        <p>100% (5v 0D)</p>
        <p>4.32 KDA</p>
      </div>
      <div class="characterWinRate">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
        <p>100% (5v 0D)</p>
        <p>4.32 KDA</p>
      </div>
    </div>
  </div>


  <div class="box black item">
    <div class="itemMain">
      <div class="character">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
      </div>
      <div class="smite">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemKDA">
      <p class="info">8 / 3 / 6</p>
      <p class="info">4.67:1 KDA</p>
    </div>
    <div class="itemObject">
      <div class="containerObject">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemLvl">
      <p class="info">lvl 18</p>
      <p class="info">107(4.8)cs</p>
    </div>
  </div><div class="box black item">
    <div class="itemMain">
      <div class="character">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
      </div>
      <div class="smite">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemKDA">
      <p class="info">8 / 3 / 6</p>
      <p class="info">4.67:1 KDA</p>
    </div>
    <div class="itemObject">
      <div class="containerObject">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemLvl">
      <p class="info">lvl 18</p>
      <p class="info">107(4.8)cs</p>
    </div>
  </div><div class="box black item">
    <div class="itemMain">
      <div class="character">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
      </div>
      <div class="smite">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemKDA">
      <p class="info">8 / 3 / 6</p>
      <p class="info">4.67:1 KDA</p>
    </div>
    <div class="itemObject">
      <div class="containerObject">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemLvl">
      <p class="info">lvl 18</p>
      <p class="info">107(4.8)cs</p>
    </div>
  </div><div class="box black item">
    <div class="itemMain">
      <div class="character">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
      </div>
      <div class="smite">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemKDA">
      <p class="info">8 / 3 / 6</p>
      <p class="info">4.67:1 KDA</p>
    </div>
    <div class="itemObject">
      <div class="containerObject">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemLvl">
      <p class="info">lvl 18</p>
      <p class="info">107(4.8)cs</p>
    </div>
  </div><div class="box black item">
    <div class="itemMain">
      <div class="character">
        <img src="../../../assets/NidaleeSquare.webp" alt="">
      </div>
      <div class="smite">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemKDA">
      <p class="info">8 / 3 / 6</p>
      <p class="info">4.67:1 KDA</p>
    </div>
    <div class="itemObject">
      <div class="containerObject">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
        <img src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemLvl">
      <p class="info">lvl 18</p>
      <p class="info">107(4.8)cs</p>
    </div>
  </div>
</div>
