<!--<h1 class="title">Recent games</h1>-->


<!--<div class="wrap">-->
<!--  <div class="resume">-->
<!--    <p>100P 62V 38D</p>-->
<!--    <p>Rank: DIAMANT 1</p>-->
<!--  </div>-->
<!--  <div class="champ">-->
<!--    <ul>-->
<!--      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>-->
<!--      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>-->
<!--      <li><img src="../../../assets/NidaleeSquare.webp" alt="">100% [5V 0D] 16KDA</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div>-->

<!--  </div>-->
<!--  <div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">
  <div class="box black boxTitle">
    <p class="title">tournois</p>
  </div>
  <div class="box black item">
    <div class="itemAttribut">
      <div>
      </div>
    </div>
    <div class="itemAttribut">
      <ul>
        <li class="info">8/3/6</li>
        <li class="info">4.67/1 KDA</li>
      </ul>
    </div>
    <div class="itemAttribut">
      <div class="info">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
        <img class="item_recent" src="../../../assets/images.jpg" alt="">
      </div>
    </div>
    <div class="itemAttribut">
      <ul>
        <li class="info">lvl 18</li>
        <li class="info">107(4.8)cs</li>
      </ul>
    </div>
    <!--    <div class="itemAttribut">-->
    <!--      <div class="box blue btn">-->
    <!--        <p>Détails</p>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
