<div class="container">
  <div class="box black boxTitle">
    <p class="title">tournois</p>
  </div>

  <div routerLink="/tournois" class="box black item">
    <div class="itemAttribut">
      <p class="name">ESL</p>
    </div>
    <div class="itemAttribut">
      <p class="info">5v5</p>
    </div>
    <div class="itemAttribut">
      <p class="info">Faille</p>
    </div>
    <div class="itemAttribut">
      <p class="info">52/64</p>
    </div>
    <div class="itemAttribut">
      <div class="box blue btn">
        <p>inscription</p>
      </div>
    </div>
  </div>

</div>

