<div class="box black" id="profil">
  <h2>Profil</h2>

  <form class="form" action="#" method="post">
    <label for="summonerName">Summoner Name</label>
    <input type="text" id="summonerName" name="summonerName" placeholder="Summoner Name" class="black box">

    <label for="mail">Mail</label>
    <input type="text" id="mail" name="mail" placeholder="New mail" class="black box">

    <label for="Password">Password</label>
    <input type="text" id="Password" name="Password" placeholder="Enter your new Password" class="black box">

    <label for="confirmPassword">Confirm Password</label>
    <input type="text" id="confirmPassword" name="confirmPassword" placeholder="Enter the same Password" class="black box">

    <button type="submit" class="box blue">Enregistrer</button>
  </form>
</div>
