p {
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.wrap{
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3em;
  margin: 10px;
}

.title2 {
  font-size: 2em;
  margin: 10px;
}


.info {
  margin: 0;
  font-size: 1em;
}

.boxTitle {
  justify-content: center;
  width: 85%;
  align-items: center;
}


.item{
  margin-top: 20px;
  width: 85%;

}

.itemMain{
  display: flex;
  padding: 10px 0 10px 10px;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.character{
  width: 69%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.character img{
  max-width: 60px;
  width: 100%;
}

.smite img{
  max-width: 30px;
  width: 100%;
}

.smite{
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itemKDA{
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemObject{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerObject{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerObject img{
  width: 25%;
  max-width: 40px;
}

.itemLvl{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joueur{
  display: flex;
  flex-direction: row;
}

.joueurs{
  display: flex;
  flex-direction: column;

}

