<div class="container">
  <div class="wrap">
    <div class="box black boxTitle">
      <p class="title">Statistiques Match</p>
    </div>

    <div class="box black item">
      <div class="itemMain">
        <div class="character">
          <img src="../../../assets/NidaleeSquare.webp" alt="">
        </div>
        <div class="smite">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
        </div>
      </div>
      <div class="itemKDA">
        <p class="info">8 / 3 / 6</p>
        <p class="info">4.67:1 KDA</p>
      </div>
      <div class="itemObject">
        <div class="containerObject">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
        </div>
      </div>
      <div class="itemLvl">
        <p class="info">lvl 18</p>
        <p class="info">107(4.8)cs</p>
      </div>
    </div>



    <div class="box black item joueurs">
      <p class="title2">Team Faker</p>
      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>


      <div class="joueur">
      <div class="itemMain">
        <div class="character">
          <img src="../../../assets/NidaleeSquare.webp" alt="">
        </div>
        <div class="smite">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
        </div>
      </div>
      <div class="itemKDA">
        <p class="info">8 / 3 / 6</p>
        <p class="info">4.67:1 KDA</p>
      </div>
      <div class="itemObject">
        <div class="containerObject">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
          <img src="../../../assets/images.jpg" alt="">
        </div>
      </div>
      <div class="itemLvl">
        <p class="info">lvl 18</p>
        <p class="info">107(4.8)cs</p>
      </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>




    </div>
    <div class="box black item joueurs">
      <p class="title2">Team Mon sbi</p>
      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>


      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>

      <div class="joueur">
        <div class="itemMain">
          <div class="character">
            <img src="../../../assets/NidaleeSquare.webp" alt="">
          </div>
          <div class="smite">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemKDA">
          <p class="info">8 / 3 / 6</p>
          <p class="info">4.67:1 KDA</p>
        </div>
        <div class="itemObject">
          <div class="containerObject">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
            <img src="../../../assets/images.jpg" alt="">
          </div>
        </div>
        <div class="itemLvl">
          <p class="info">lvl 18</p>
          <p class="info">107(4.8)cs</p>
        </div>
      </div>


  </div>



</div>
