<div class="container">
  <div class="wrap">
    <div class="box black line name">
      <label>name :</label>
      <input type="text">
    </div>

    <div class="box black search">
      <div class="searchRow">
        <label>recherche :</label>
        <input type="text">
        <p>loupe</p>
      </div>
      <div class="containerSearch">
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
        <div class="box blue itemSearch">
          <p>michelle</p>
        </div>
      </div>
    </div>


    <div class="box black line">
      <div class="namePoste">
        <p>top</p>
      </div>

      <div class="sumPoste">

        <div class="sum">
          <p>michelle</p>
          <p class="btnPoste">-</p>
        </div>

      </div>
    </div>
    <div class="box black line">
      <div class="namePoste">
        <p>jungle</p>
      </div>

      <div class="sumPoste">

        <div class="sum">
          <p>michel</p>
          <p class="btnPoste">-</p>
        </div>

        <div class="barreSplit"></div>

        <div class="sum">
          <p>pierre</p>
          <p class="btnPoste">-</p>
        </div>

      </div>
    </div>
    <div class="box black line">
      <div class="namePoste">
        <p>mid</p>
      </div>

      <div class="sumPoste">

      </div>
    </div>
    <div class="box black line">
      <div class="namePoste">
        <p>adc</p>
      </div>

      <div class="sumPoste">


      </div>
    </div>
    <div class="box black line">
      <div class="namePoste">
        <p>support</p>
      </div>

      <div class="sumPoste">

      </div>
    </div>



  </div>
</div>


<div class="allRecommandation">
  <div class="box blue recommandation">
    <p class="nameRecommandation">michelle</p>
    <p class="posteRecommandation">adc</p>
    <p class="winRateRecommandation">winrate : 85%</p>
  </div>
  <div class="box blue recommandation">
    <p class="nameRecommandation">michelle</p>
    <p class="posteRecommandation">adc</p>
    <p class="winRateRecommandation">winrate : 85%</p>
  </div>
  <div class="box blue recommandation">
    <p class="nameRecommandation">michelle</p>
    <p class="posteRecommandation">adc</p>
    <p class="winRateRecommandation">winrate : 85%</p>
  </div>
</div>
<div class="containerBtn">
  <div class="box blue btn">
    <p>crée ta team</p>
  </div>
</div>


