<div class="box black" id="connection">
  <h2>Connection</h2>
  <a href="#" class="register">Register</a>

  <form action="#" method="post">
    <label for="summonerName">Summoner Name</label>
    <input type="text" id="summonerName" name="summonerName" placeholder="Enter your Summoner Name" class="black box">

    <label for="Password">Password</label>
    <input type="text" id="Password" name="Password" placeholder="Enter your Password" class="black box">

    <button type="submit" class="box blue">Login</button>
  </form>

  <a href="#" class="forgot">Forgot Password ?</a>
</div>
