
<div class="container">
  <div class="box black nameTournois">
    <p>ESL</p>
  </div>

  <div class="box black formatTournois">
    <div class="format">
      <p>format</p>
      <p>5v5</p>
    </div>
    <div class="map">
      <p>map</p>
      <p>faille</p>
    </div>
    <div class="slot">
      <p>participants</p>
      <p>18/64</p>
    </div>
  </div>

  <div class="box black list">
    <div class="btnSelect" id="btn-2" (click)="pressIcon()">
      <div class="nameList">
        <p>liste des inscris</p>
      </div>
      <img class="iconDown" src="assets/icon/arrow-down-sign-to-navigate.svg"/>
    </div>
    <div [hidden]="hidden" >
      <div class="listTeam" >
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
        <div>
          <p class="seedTeam">1 : Fakerteam</p>
        </div>
      </div>
    </div>
  </div>
</div>

