<div class="homeContainer">

  <div class="boxMax">
    <div class="box black boxHome">
      <div class="matchBox">
        <p class="titleMatch">ESL</p>
        <p class="styleMatch">5 V 5</p>
        <div class="boxTeams">
          <div class="teamRed team">
            <p class="nameTeam">teamfaker</p>
          </div>
          <div class="teamBlue team">
            <p class="nameTeam">biloute</p>
          </div>
        </div>
      </div>
    </div>

    <div class="box black boxHome stat">
      <p class="statTeamName">teamfaker</p>
      <div class="boxWinRate">
        <p class="winRate">winrate:</p>
        <p class="rate">85%</p>
      </div>
    </div>
  </div>

  <div class="box blue btn">
    <p>crée ta team</p>
  </div>
  <div class="box blue btn">
    <p>statistiques</p>
  </div>
  <div class="box blue btn">
    <p>tournois</p>
  </div>

</div>
