  <form class="form" action="#" method="post">
    <div class="box black tournoi" id="tournoi1">
    <label for="nametournoi">Nom du tournoi</label>
    <input type="text" id="nametournoi" name="nametournoi" placeholder="Nom du tournoi" class="black box">
    </div>

    <div class="box black tournoi" id="tournoi2">
    <label for="format">Format</label>
    <select name="format" id="format">
      <option value="">Veuillez choisir un format</option>
      <option value="5V5">5V5</option>
      <option value="3V3">3V3</option>
      <option value="1V1">1V1</option>
    </select>
    </div>

    <div class="box black tournoi" id="tournoi3">
      <label for="map">Map</label>
      <select name="map" id="map">
        <option value="">Veuillez choisir une map</option>
        <option value="5V5">5V5</option>
        <option value="1V1">1V1</option>
      </select>
    </div>

    <div class="box black tournoi" id="tournoi4">
      <label for="nbr">Nombre de teams</label>
      <select name="nbr" id="nbr">
        <option value="">Veuillez choisir un nombre de team</option>
        <option value="8">8</option>
        <option value="16">16</option>
        <option value="32">32</option>
        <option value="64">64</option>
      </select>
    </div>

    <button type="submit" class="box blue">Enregistrer</button>
  </form>

